body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3e8ff;
    color: #333;
}

/* Header */
.hero {
    background: linear-gradient(135deg, #a855f7, #6b21a8);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 10px;
    font-size: 32px;
}

.hero h2 {
    margin: 0;
    font-weight: normal;
}

.hero p {
    margin-top: 10px;
    opacity: 0.9;
}

/* Secciones */
section {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

h3 {
    color: #6b21a8;
}

/* Tecnologías */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    background-color: #f3e8ff;
    color: #6b21a8;
    padding: 8px 14px;
    margin: 6px;
    border-radius: 20px;
    font-size: 14px;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #a855f7;
}

/* Botón */
button {
    background-color: #a855f7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6b21a8;
}

/* Footer */
footer {
    background-color: #6b21a8;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 13px;
}



.hero-icons {
    margin-bottom: 15px;
}

.hero-icons i {
    font-size: 28px;
    margin: 0 10px;
    opacity: 0.9;
}

.skill-group {
    margin-bottom: 25px;
}

.skill-group h4 {
    color: #6b21a8;
    margin-bottom: 10px;
}

.skill-group i {
    margin-right: 8px;
}

.badge {
    display: inline-block;
    background-color: #f3e8ff;
    color: #6b21a8;
    padding: 6px 14px;
    margin: 6px 6px 0 0;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

.contact p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.contact i {
    color: #0a66c2; /* color LinkedIn */
    font-size: 20px;
}

.contact a {
    color: #6b21a8;
    text-decoration: none;
    font-weight: 500;
}

.contact a:hover {
    text-decoration: underline;
}
